body{
    background-image: url('../images/bg.png');
}

.playing{
    font-size: larger;
    background-color: #212529;
    border-radius: 8px;
    color:white;
}

.hide{
    display: none !important;
}